header{
    height: 400px;
    background-image: url(../image/header.jpg);
    background-size: cover;
    /* Police de l'écriture */
    font-family: Arial, Helvetica, serif;
    /* pour centrer le titre sur l'image */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Dimension du titre */
    font-size: 20px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    background-color: #EFE7CE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;

}

nav ul li a{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}
input{
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
}